@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap');
html {
  height: 100%;
  width: 100%;
}

body{
  background-color:black;
  padding: 5px;
}

header {
  flex-flow: row wrap;
  justify-content: space-between;
  width: 95%;
  max-width: 1155px;
  margin: auto;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.heading:before,
.heading:after {
  font-size: 3rem;
  line-height: 2.5rem;
 
}

.heading:before {
  content: "“";
  left: -0.5em;
}

.heading:after {
  content: "”";
  bottom: -0.1em;
  margin-left: 0.1em;
}

.heading:before,
  .heading:after {
    font-size: 6rem;
  }

.heading:before {
    top: 0.25em;
}

.heading:after {
    bottom: 0.1em;
}

.quote_btn{
  display:  absolute;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 95%;
  max-width: 1029px;
  margin: auto;
  padding: 5px;
  margin-bottom: 150px;
}

h1{
  font-family: 'Playfair Display', serif;
  height: 73px;
  margin-top: 20px;
  margin-right: 5px;
  font-weight: bold;
  margin: 0.67em 0;
  font-size:65px;
  padding-left:0px;
  color:red;
}

.container {
    padding: 20px 25px 15px 55px;
    background: rgba(40, 40, 40, 0.9);
    border-left: 5px solid whitesmoke;
    border-right: 5px solid whitesmoke;
    border-radius: 0 4px 4px 0;
    width: 90%;
    max-width: 1024px;
    margin: auto;
    color: whitesmoke;
    font-size:20px;
  }

.load-quote {
  color: #fff;
  width: 10em;
  max-height: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
  position:left;
  padding: 10px 0;
  background-color: black;
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: 0.5s;
  font-size:20px;
  font-family:'Playfair Display', serif;
  
}

.load-quote:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.motivation-quote {
  color: #fff;
  width: 10em;
  max-height: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left:20px;
  padding: 10px 0;
  background-color: black;
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: 0.5s;
  font-size:20px;
  font-family:'Playfair Display', serif;
  
}

.motivation-quote:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.love-quote{
  color: #fff;
  width: 10em;
  max-height: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left:20px;
  padding: 10px 0;
  background-color: black;
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: 0.5s;
  font-size:20px;
  font-family:'Playfair Display', serif;
}

.love-quote:hover{
  background-color: rgba(255, 255, 255, 0.3);
}


.copy{
  color: #fff;
  width: 8em;
  max-height: 75px;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 10px 0;
  background-color: black;
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: 0.5s;
  margin-left:15px;
  font-size:20px;
  font-family:'Playfair Display', serif;
}

.copy:hover{
  background-color:red;
}